# Ignore the SQL dump file
/requirements/drupal_tapas_minimal.sql

# Ignore sublime project files
*.sublime-project
*.sublime-workspace

# Ignore Vagrant created directory 
/.vagrant

# Ignore the requirements/local directory, which is meant
# to store user-specific configuration information 
/requirements/local/

**.swp
